{% extends "layout.html" %}

{% block content %}

    <table class="table table-hover">
        <caption></caption>
        <thead class="table-primary">
            <tr>
                <td>Libro</td>
                <td class="text-center">Edición</td>
                <td>Género</td>
                <td>Editorial</td>
                <td>ISBN</td>
                <td class="text-center">Disponibles</td>
                <td class="text-center">Rentados</td>
                <td class="text-center">Total</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for libro in librosAzar %}
                <tr>
                    <td><a href="/libro/{{libro.0}}">{{libro.1}}</a></td>
                    <td class="text-center">{{libro.2}}</td>
                    <td>{{libro.3}}</td>
                    <td>{{libro.4}}</td>
                    <td>{{libro.5}}</td>
                    <td class="text-center">{{libro.6}}</td>
                    <td class="text-center">{{libro.7}}</td>
                    <td class="text-center">{{libro.8}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/editarLibro/{{libro.0}}">Editar Libro</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/eliminarLibro/{{libro.0}}">Eliminar Libro</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

