{% extends "layout.html" %}

{% block content %}
    {% if libro %}
    <div class="card mb-3">
        <h3 class="card-header">Libro: {{libro.1}}</h3>
        <div class="card-body">
          <h5 class="card-title">Genero: {{libro.2}}</h5>
          <h6 class="card-subtitle text-muted">SubGenero: {{libro.3}}</h6>
        </div>
        <div>
        <img class="rounded mx-auto d-block" width="20%" src="{{ url_for('static', filename='portadas/'+libro[9]) }}"  />
        </div>
        <div class="card-body">
          <p class="card-text">Resumen: {{libro.10}}</p>
          <p class="card-text">Descripción: {{libro.11}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ISBN: {{libro.8}}</li>
          <li class="list-group-item">Editorial: {{libro.4}}</li>
          <li class="list-group-item">Edición: {{libro.5}}<br/> Fecha: {{libro.6}}</li>
          <li class="list-group-item">Lugar de Publicación: {{libro.7}}</li>
          <li class="list-group-item">Disponibles: {{libro.12}}</li>
          <li class="list-group-item">Rentados: {{libro.13}}</li>  
          <li class="list-group-item">Total libros: {{libro.14}}</li>
        </ul>
      </div>
    {% endif %}
{% endblock %}