{% extends "layout.html" %}

{% block content %}
    
    <table class="table table-hover">
        <caption></caption>
        <thead class="table-primary">
            <tr>
                <td>Nombre</td>
                <td>Correo</td>
                <td>Teléfono 1</td>
                <td>Teléfono 2</td>
                <td>Dirección</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for miembro in miembros %}
                <tr>
                    <td>{{miembro.1}}</td>
                    <td class="">{{miembro.2}}</td>
                    <td>{{miembro.3}}</td>
                    <td>{{miembro.4}}</td>
                    <td>{{miembro.5}}</td>
                    <td class="">{{miembro.6}}</td>
                    <td class="">{{miembro.7}}</td>
                    <td class="">{{miembro.8}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/editarMiembro/{{miembro.0}}">Editar miembro</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/eliminarMiembro/{{miembro.0}}">Eliminar miembro</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}