{% extends "layout.html" %}

{% block content %}
    <table class="table table-hover">
        <caption></caption>
        <thead class="table-primary">
            <tr>
                <td>Miembro</td>
                <td class="text-center">Libro</td>
                <td class="text-center">Días de retraso</td>
                <td class="text-center">Fecha de entrega</td>
                <td class="text-center">Fecha estimada de devolución</td>
                <td>Total multa</td>
                <td></td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            {% for multa in multas %}
                <tr>
                    <td>{{multa.1}}</td>
                    <td>{{multa.2}}</td>
                    <td class="text-center">{{multa.6}}</td>
                    <td class="text-center">{{multa.3}}</td>
                    <td class="text-center">{{multa.4}}</td>
                    <td>${{multa.5}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/pagarMulta/{{multa.0}}">Pagar multa</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/eliminarMulta/{{multa.0}}">Eliminar multa</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}