{% extends "layout.html" %}

{% block content %}
    <table class="table table-hover">
        <caption>
            Libros
        </caption>
        <thead class="table-primary">
            <tr>
                <td>Miembro</td>
                <td class="text-center">Libro</td>
                <td>Fecha de entregra</td>
                <td>Fecha estimada de devolución</td>
                <td>Fecha de devolución</td>
                <td class="text-center">Total</td>

            </tr>
        </thead>
        <tbody>
            {% for multa in multas %}
                <tr>
                    <td>{{multa.1}}</td>
                    <td>{{multa.2}}</td>
                    <td>{{multa.3}}</td>
                    <td>{{multa.4}}</td>
                    <td>{{multa.5}}</td>
                    <td>${{multa.6}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}