{% extends "layout.html" %}

{% block content %}
<a class="btn btn-primary btn-lg" href="/checar_multas">Checar por nuevas multas</a>
    <table class="table table-hover">
        <caption></caption>
        <thead class="table-primary">
            <tr>
                <td>Miembro</td>
                <td class="text-center">Libro</td>
                <td class="text-center">Días de retraso</td>
                <td class="text-center">Fecha de entrega</td>
                <td class="text-center">Fecha estimada de devolución</td>
                <td>Total multa</td>

            </tr>
        </thead>
        <tbody>
            {% for multa in multas %}
                <tr>
                    <td>{{multa.1}}</td>
                    <td>{{multa.2}}</td>
                    <td class="text-center">{{multa.6}}</td>
                    <td class="text-center">{{multa.3}}</td>
                    <td class="text-center">{{multa.4}}</td>
                    <td>${{multa.5}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}