{% extends "layout.html" %}

{% block content %}


    <table class="table table-hover">
        <caption></caption>
        <thead class="table-primary">
            <tr>
                <td>Miembro</td>
                <td class="text-center">Libro</td>
                <td>Fecha de entregra</td>
                <td>Fecha estimada de devolución</td>
                <td class="text-center">Total</td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            {% for renta in rentas %}
                <tr>
                    <td>{{renta.1}}</td>
                    <td>{{renta.2}}</td>
                    <td>{{renta.3}}</td>
                    <td>{{renta.4}}</td>
                    <td>${{renta.5}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/devolverRenta/{{renta.0}}">Devolver Renta</a></td>
                    <td><a class="btn btn-primary btn-sm" href="/editarRenta/{{renta.0}}">Editar Renta</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/eliminarRenta/{{renta.0}}">Eliminar Renta</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}